@import "tailwindcss";

/*@config "../../tailwind.config.ts";*/

@plugin './hero.ts';

@theme {
    --background-image-dark-gradient: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source "../components/**/*.{js,ts,jsx,tsx,mdx}";
@custom-variant dark (&:is(.dark *));

@layer components {
    .vertical-center {
        height: calc(100vh - 64px);
    }

    .page-size-box {
        @apply cursor-pointer border-2 hover:bg-gray-100 flex items-center justify-center rounded-lg shadow-sm min-w-[36px] w-9 h-9 text-sm
    }
}

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
